.help {
    margin-bottom: 48px;

	&__title {
    max-width: 895px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	}

	&__description {
    max-width: 895px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 26px;
    color: $black;
    margin-top: 0;
    margin-bottom: 48px;
	}

	&__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 24px;
    margin-bottom: 48px;

    @media(max-width: 1024px) {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
	}

	&__card {
    border-radius: 16px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
	}

	&__subtitle {
    color: $black;
    font-family: "Novel Mono Pro", serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.36px;
    margin-bottom: 16px;
    margin-top: 0;
	}

	&__subtext {
    color: $black;
    font-family: "Novel Mono Pro", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.32px;
    margin-bottom: 28px;
    margin-top: 0;
	}

	&__meta {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
	}

	&__date {
    padding: 4px 8px;
    background: $accent;
    color: $white;
    border-radius: 40px;
    font-family: "Novel Mono Pro", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    vertical-align: center;
	}

	&__apply {
    font-family: "Novel Mono Pro", serif;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.32px;
	}

	&__button {
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
	}
}