:root {
  --font-family: "ProximaNova", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Bely";
  src: url("../fonts/../fonts/Bely-Display.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "NovelMonoPro";
  src: url("../fonts/../fonts/NovelMonoPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "NovelMonoPro";
  src: url("../fonts/../fonts/NovelMonoPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.container {
  max-width: 100%;
  margin: auto;
  padding: 0 20px;
}
@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1170px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}

.header {
  margin-bottom: 82px;
}
.header__container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .header .nav {
    margin-top: 48px;
  }
}

.custom-logo-link {

}

.footer {
  margin-bottom: 40px;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  vertical-align: middle;
}
.modal__form {
  display: -ms-grid;
  display: grid;
  gap: 48px;
}
@media (min-width: 1024px) {
  .modal__form {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
}
.modal__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}
@media (min-width: 1024px) {
  .modal__inputs {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
}
.modal__input {
  padding: 8px;
}
.button {
  padding: 20px 24px;
  background: #71A894;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.button--dark {
  background: #303031;
}

.description {
  font-size: 24px;
  line-height: 32px;
  color: #303031;
  letter-spacing: -0.48px;
  margin-top: 0;
}

.title--1 {
  font-size: 64px;
  font-family: "Bely", serif;
  line-height: 125%;
  font-weight: 400;
  margin-top: 0;
}
.title--2 {
  font-size: 48px;
  font-family: "Bely", serif;
  line-height: 130%;
  font-weight: 400;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 24px;
}
.title--3 {
  color: #303031;
  font-family: "Novel Mono Pro", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.36px;
  margin-top: 0;
}

.nav__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  gap: 24px;
}
@media (min-width: 1024px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav__item .nav__link {
  margin-right: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #303031;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item--accent .nav__link {
  color: #71A894;
}

.promo {
  margin-bottom: 180px;
}

.promo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .promo .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.promo__info {
  max-width: 610px;
}
.promo__title {
  margin-top: 0;
  margin-bottom: 24px;
}
.promo__description {
  margin-top: 0;
  margin-bottom: 60px;
  color: #66645E;
}
.reimagining {
  margin-bottom: 160px;
}
.reimagining__title {
  text-align: center;
}
.reimagining__description {
  text-align: center;
  max-width: 895px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.reimagining__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}
@media (max-width: 1024px) {
  .reimagining__cards {
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.reimagining__card {
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 64px 24px;
}
.reimagining__subtitle {
  font-family: "Proxima Nova", sans-serif;
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
}
.reimagining__subtext {
  color: #303031;
  font-size: 18px;
  line-height: 26px;
}

.kickstart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 160px;
}
@media (max-width: 1024px) {
  .kickstart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.kickstart:last-child {
  margin-bottom: 0px;
}
.kickstart__wrapper {
  margin-bottom: 160px;
}
.kickstart__info {
  max-width: 644px;
}
.kickstart__title {
  margin-top: 24px;
}
.kickstart__description {
  font-size: 18px;
  color: #303031;
  line-height: 26px;
}

.help {
  margin-bottom: 48px;
}
.help__title {
  max-width: 895px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.help__description {
  max-width: 895px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 26px;
  color: #303031;
  margin-top: 0;
  margin-bottom: 48px;
}
.help__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  margin-bottom: 48px;
}
@media (max-width: 1024px) {
  .help__cards {
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
}
.help__card {
  border-radius: 16px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.help__subtitle {
  color: #303031;
  font-family: "Novel Mono Pro", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.36px;
  margin-bottom: 16px;
  margin-top: 0;
}
.help__subtext {
  color: #303031;
  font-family: "Novel Mono Pro", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
  margin-bottom: 28px;
  margin-top: 0;
}
.help__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
}
.help__date {
  padding: 4px 8px;
  background: #71A894;
  color: #ffffff;
  border-radius: 40px;
  font-family: "Novel Mono Pro", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  vertical-align: center;
}
.help__apply {
  font-family: "Novel Mono Pro", serif;
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.help__button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.start {
  margin-bottom: 120px;
}
.start .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  vertical-align: middle;
}
@media (max-width: 1024px) {
  .start .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.start__decor {
  width: 100%;
  height: 72px;
  background-image: url("../img/svg/Ellipse.svg");
  background-repeat: repeat;
  background-size: auto;
}
.start__info {
  max-width: 644px;
}
.start__description {
  margin-bottom: 40px;
}
/*# sourceMappingURL=main.css.map */