<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="request">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно" data-graph-path="request"></button>
    <div class="graph-modal__content">
      <h2 class="tittle--2">Request</h2>

      <form action="" class="modal__form">
        <div class="modal__inputs">
          <input placeholder="name" type="text" class="modal__input">
          <input placeholder="phone" type="tel" class="modal__input">
        </div>
        <button class="button modal__button">Send</button>
      </form>
    </div>
  </div>
</div>
